<div class="mainimg">
    <div class="motto-container">
        <span id="motto">...</span>
        <span class="motto-cursor">_</span>
    </div>
    <img src="https://s1.imagehub.cc/images/2022/03/27/Over-Water-Road.jpg" alt="Over-Water-Road.jpg" border="0" />
</div>