<div class="mainbody">
    <div class="mainimg">
        <img id="mainimg" src="https://s1.imagehub.cc/images/2022/03/27/Over-Water-Road.jpg" alt="Over-Water-Road.jpg" border="0" />
    </div>
    <div class="motto-container">
        <span id="motto">...</span>
        <span class="motto-cursor">_</span>
    </div>
</div>