<footer id="footer"
    <% if (!is_home()) { %>
        class="footer non-home-footer"
    <% } else { %>
        class="footer"
    <% } %>
    >
    <div class="copyright">
        <p>©Peter Hou | All rights reserved.<p>
    </div>
</footer>