<div class="mainbody">
    <div class="mainimg">
        <img id="mainimg" src="<%= theme.mainimage %>" alt="Over-Water-Road-Small.jpg" border="0" />
    </div>
    <div class="motto-container">
        <span id="motto"></span>
        <span class="motto-cursor">_</span>
    </div>
</div>