<div class="page-container">
    <div class="error-msg">
        <i class="fa-solid fa-person-digging" style="font-size: 72px;"></i>
        <div>
            COMING SOON
        </div>
        <div style="font-size: 28px">
            Under Construction
        </div>
    </div>
</div>