<%
function collectImages(photoList) {
  var images = ''
  for(var i = 0; i < photoList.length; i++) {
    var photo = photoList[i]
    images += `<a data-fancybox="certificates" href="${photo}"><img class="galleryitem" src="${photo}" alt="${photo}" /></a>`

  }
  return images
}
const images = collectImages(theme.certificates);
%>

<main>
    <div class="gallerycontainer">
      <%- images %>
    </div>
</main>

<script>

$('[data-fancybox="certificates"]').fancybox({
  buttons: [
    // "zoom",
    "share",
    "slideShow",
    "fullScreen",
    // "download",
    "thumbs",
    "close"
  ],
  clickContent: function(current, event) {
    return false;
  },
  thumbs: {
    autoStart: false, // Display thumbnails on opening
    hideOnClose: true, // Hide thumbnail grid when closing animation starts
    parentEl: ".fancybox-container", // Container is injected into this element
    axis: "y" // Vertical (y) or horizontal (x) scrolling
  },
  animationEffect: "fade",
  transitionEffect: "fade"
});
</script>